/*  Sezione header*/
.pattern-image {
    background: #4EA0FF url("../img/pattern.png") 30% 20%;
    background-size: cover;
    height: 150px;
}

.heading {
    font-family: 'Zen Old Mincho', serif;
    font-size: 60px;
    margin: 0;
}

.author-section {
    margin-top: 0;
}

.author {
    color: #20A9E5;
}
/* / Sezione header*/

/* Formattazione tabella */
table {
    border-collapse: collapse;
}

thead {
    background-color: #20A9E5;
    color: white;
    text-align: left;
}

.even {
    background-color: #B1E5F2;
}
/* / Formattazione tabella*/

/* Formattazione testi*/
.text {
    font-family: 'Merriweather', serif;
}

.grey {
    color: #808080;
}

.text-highlighted {
    background-color: yellow;
}
/* / Formattazione testi*/